{% extends 'base.html.twig' %}

{% block header %}
          {% include 'Partials/_headerForClient.html.twig' %}
{% endblock %}
     {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <style>
        body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 100%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px} 
        


.cartBox {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 0 20px;
    margin: 50px 0;
}
.cartBox .table .quantity {
    display: flex;
    justify-content: space-between;
}
.cartBox .table input {
    margin: 0 20px;
}
tbody {
    border-top: 1px solid #c61d21;
    border-bottom: 1px solid #c61d21;
}
tbody tr td {
    border-bottom: 0;
    text-align: center;
    vertical-align: middle;
}
tbody tr img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
input {
    text-align: center;
}
.headCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headCart span {
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.headCart span &:hover {
    background-color: #e67779;
    color: #FFF!important;


 }


 
   
     </style>
        {% endblock %}
     {% block body %}
        
                    <div class="container mt-5 mb-5">
{# 
                                    <div class="d-flex justify-content-between">
                                        <p class="alert alert-warning"><b>There are <strong style="color:#ff9966;">{{products|length }}</strong>  products in your Cart!</b></p>
                                        <div class="btn-lg"><a href="{{ path('home_Page')}}" class="btn btn-warning">Add More Products</a></div>   
                                        <p class="alert alert-success"><b>Total Price is :<strong style="color:#ff9966;">$ {{ totalPrice|number_format(2) }}</strong>  products in total!</b></p>

                                    </div> #}

                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success">
                                                {{ message }}
                                            </div>
                                        {% endfor %} 
                                        {% for message in app.flashes('danger') %}
                                            <div class="alert alert-danger">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {# <div id="d-flex" >
                                        <div class="btn-lg d-flex justify-content-start d-inline-block"><a href="{{ path('product_new')}}" class="btn btn-outline-primary">Add New Product</a></div>
                                        <p class="d-flex justify-content-end d-inline-block"><b>there is {{products.getTotalproductCount}} product in total !</b></p>
                                    </div> #}
                                
                                    <div class="cartBox">
                                        <div class="text-center">
                                            <h1 class="text-danger">Products Order</h1>
                                        </div>
                                      <div class="headCart">
                                        <p class="lead">You have <label class="text-danger ">{{products|length}}</label> product in your cart</p>
                                        <a class="text-danger card-header"  onclick="return confirm('are u sure?')"  href="{{path('deleteCart')}}" type="button" >Clear Shopping Cart</a>
                                      </div>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Description</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for product in products %}
                                                <tr >
                                                    <td><img src="{{ asset(product.imgPath)}}"  alt=""></td>
                                                    <td>{{product.name}}</td>
                                                    <td>{{(product.price)|number_format(2)}}$</td>
                                                    <td>
                                                        {{product.description}}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger" onclick="return confirm('are u sure?')"  href="{{path('deleteFromCart',{ 'id': product.id })}}" type="button">Delete</a>
                                                        {# <a class="btn btn-danger btn-sm"  onclick="return confirm('are u sure?')" href="{{path('deleteFromCart',{ 'id': product.id })}}"type="button">Delete from carte</a> #}
                                                        {# <a class="btn btn btn-secondary btn-sm mt-2" href="{{path('product_edit',{ 'id': product.id })}}" type="button">Add To favourite</a></div> #}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Total : {{totalPrice|number_format(2) }}$</th>
                                                    <th><button class="btn btn-success" (click)="addCart();a=true">Order Now</button></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                                        
                                </div>
                                
                                   
                                    {# <div class="navigation d-flex justify-content-center mt-1 ">
                                    {{ knp_pagination_render(products) }}
                                </div> #}
                                {# <div class="d-flex justify-content-between mt-4">
                                    <p class="alert alert-warning"><b>There are <strong style="color:#ff9966;">{{products|length }}</strong>  products in your Cart!</b></p>
                                    <p class="alert alert-success"><b>Total Price is :<strong style="color:#ff9966;">$ {{ totalPrice|number_format(2) }}</strong>  products in total!</b></p>
        
                                </div> #}

                        </div>
                       
                        
                    </div>
                    </div>
{# display navigation #}

     {% endblock %} 
