
{% extends 'base.html.twig' %}

     {% block header %}
          {% include 'Partials/_headerForClient.html.twig' %}
     {% endblock %}
{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <style>
                            * {
                    margin: 0;
                    padding: 0
                }

                body {
                    background-color: #000
                }
              
                .text {
                    font-size: 23px;
                    font-weight: bold
                }

               
            
            </style>
        {% endblock %}
{% block body %}

<div class="container">
    {% for category in categories %}
    
    <div class="row mt-2 g-4 d-flex justify-content-center">
        <div class="col-md-3">
            <div class="card p-1">
                <div   class="d-flex justify-content-between align-items-center p-2" style="border: 2px solid black;" >
                    <div class="flex-column lh-1 imagename"> <strong>{{category.name}}</strong></div>
                     <a href="{{path('category_d',{ 'id': category.id })}}"> <div> <img src="{{asset(category.imgPath)}}" height="100" width="100" /> </div> </a>
                </div>
            </div>
    </div>
      {% endfor %}
        <div class="navigation d-flex justify-content-center mt-4 ">
                                    {{ knp_pagination_render(categories) }}
       </div>
</div>
{% endblock %}